
input{
    margin-right: 10px;
    margin-left: 10px
}

input.btn {
    margin-top: 3px;
    margin-left: 4px;
    background-color:rgb(86, 84, 84); 
    color: white; 
    width: 150px;
    border-radius: 4px;
}

.btn-right {
    margin-top: 3px;
    margin-left: auto;
    border-radius: 8px;
    background-color:rgb(34, 35, 35); 
    color: rgb(255, 255, 255); 
    width: 150px;
    float: right;
    order: 2;
}
.btn-right-display {
    display: none;
}


.card{
    background-color: rgb(221, 241, 249);
}